body{
    background:url('../calculator/img/bg.jpg');
}

.calc-wrapper {
    background: rgba(144, 212, 178, 0.267);
    width: 430px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0;
    border: 1px solid #333;
    overflow: hidden;
  }
  
  .display {
    background: rgb(64, 77, 73);
    padding: 10px 20px;
    border-radius: 10px;
    height: 100px;
    border: 1px solid #333;
    margin-bottom: 10px;
    text-align: right;
    font-size: 70px;
    line-height: 100px;
  }
  
  .btn {
    outline: 0;
    cursor: pointer;
    border-radius: 10px;
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .btn-group-left {
    float: left;
    width: 330px;
  }
  
  .btn-group-left .btn {
    margin-left: 10px;
  }
  
  .btn-group-left .btn:nth-child(3n+1) {
    margin-left: 0;
  }
  
  .btn-group-right {
    float: left;
    width: 100px;
  }
  
  .btn.result {
    width: 100%;
  }